@media (max-width:1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .footer__logo {
        display: none;
    }

    .basket-card__unification {
        width: 100%;
    }
}
.for {
    &__item {
        height: 268px;
    }
}

.product {
    column-gap: 28px;
    row-gap: 39px;
}

@media (min-width:768px) and (max-width:833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product-card {
        width: 343px;
    }

    .basket-form-group__btn_bottom {
        padding-left: 0px;
    }
}